{% extends 'base.html.twig' %}

{% block title %}Hello CharacterStatCategoryController!{% endblock %}

{% block body %}
    <style>

    </style>

    <div class="container">
        <h3>PNP Gruppe</h3>

        {{ form(form) }}
    </div>
{% endblock %}